---
---

@media (min-width: 768px) { /* Adjusts for Bootstrap's lg breakpoint */
  .navbar {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

body {
  font-family: 'Open Sans', sans-serif !important;
  padding-top: 6em;
}

.panel-footer {
  padding: 15px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid transparent;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

.navbar-nav .active { 
  text-decoration: none;
  font-weight: bold;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  color: red;
  opacity: 0.36;
  font-size: 40px;
  font-weight: bold;
} 