<footer class="footer mt-auto py-3 bg-light">
  <div class="container-fluid">
    <p class="justify-content-center">
			<i class="fa-solid fa-school" aria-hidden="true"></i> <a href="https://www.th-nuernberg.de">th-nuernberg.de</a> 
    	<i class="fa-solid fa-envelope" aria-hidden="true"></i> <a href="mailto:ki-zentrum@th-nuernberg.de">ki-zentrum@th-nuernberg.de</a> 
	  	<i class="fa-brands fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/kizohm">@kizohm</a>
	  	<i class="fa-brands fa-github" aria-hidden="true"></i> <a href="https://github.com/th-nuernberg">@th-nuernberg</a> <br>
	  	<i class="fa-solid fa-home" aria-hidden="true"></i> Keßlerstr. 1, 4. OG, 90489 Nürnberg, Germany
	  	<i class="fa-solid fa-section" aria-hidden="true"></i> <a href="/impressum/">Impressum</a>
	  </p>
  </div>
</div>

<script src="{{site.url}}{{site.baseurl}}/js/jquery-3.2.1.slim.min.js"></script>
<script src="{{site.url}}{{site.baseurl}}/js/bootstrap.bundle.min.js"></script>
