<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		
		<div class="col-sm-12">
		  <p>Contact: <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:ki-zentrum@th-nuernberg.de">ki-zentrum@th-nuernberg.de</a> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Keßlerstr. 1, 4. OG, 90489 Nürnberg, Germany</p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
