---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>
<div class="container">
  <div class="row">
    <div class="col-md-9">
        <h2> Table of Contents </h2>
        {% include toc.html html=content %}
        <br>
        {{ content }}
    </div>
    <div class="col-md-3">
      <div class="sticky-md-top" style="top: 96px;">
        <div class="overflow-auto" style="height: 70vh;">
            <h4> Table of Contents </h4>
              {% include toc.html html=content h_max=2 class="bg-light.nav.flex-column" item_class="nav-item" anchor_class="nav-link" %}
        </div>
      </div>
    </div>
  </div>
</div>
